<mat-toolbar color="primary">
  <img src="/movva-lockup.svg" alt="Movva" class="barra-navegacao-logo" />

  <span class="barra-navegacao-espacador"></span>

  <a mat-button routerLink="/motoristas" routerLinkActive="barra-navegacao-link-ativo">
    <mat-icon>badge</mat-icon>
    <span class="barra-navegacao-link-texto">Motoristas</span>
  </a>
  <a mat-button routerLink="/veiculos" routerLinkActive="barra-navegacao-link-ativo">
    <mat-icon>directions_car</mat-icon>
    <span class="barra-navegacao-link-texto">Veículos</span>
  </a>
  <a mat-button routerLink="/mapa" routerLinkActive="barra-navegacao-link-ativo">
    <mat-icon>map</mat-icon>
    <span class="barra-navegacao-link-texto">Mapa</span>
  </a>

  <button
    mat-icon-button
    [matMenuTriggerFor]="menuTema"
    matTooltip="Tema"
    class="barra-navegacao-tema"
  >
    <mat-icon>{{ iconeTema() }}</mat-icon>
  </button>
  <mat-menu #menuTema="matMenu" xPosition="before">
    <button mat-menu-item (click)="definirTema('claro')">
      <mat-icon>light_mode</mat-icon>
      <span>Claro</span>
    </button>
    <button mat-menu-item (click)="definirTema('escuro')">
      <mat-icon>dark_mode</mat-icon>
      <span>Escuro</span>
    </button>
    <button mat-menu-item (click)="definirTema('sistema')">
      <mat-icon>brightness_auto</mat-icon>
      <span>Sistema</span>
    </button>
  </mat-menu>

  <button mat-icon-button [matMenuTriggerFor]="menuPerfil" class="barra-navegacao-perfil">
    <mat-icon>account_circle</mat-icon>
  </button>
  <mat-menu #menuPerfil="matMenu" xPosition="before">
    <div class="barra-navegacao-menu-info">
      <div class="barra-navegacao-menu-nome">{{ authService.usuarioLogado()?.nome }}</div>
      <div class="barra-navegacao-menu-cargo">{{ authService.usuarioLogado()?.cargo }}</div>
    </div>
    <button mat-menu-item (click)="logout()">
      <mat-icon>logout</mat-icon>
      <span>Sair</span>
    </button>
  </mat-menu>
</mat-toolbar>
