
@use 'sass:map';
@use '@angular/material' as mat;

$_palettes: (
  primary: (
    0: #000000,
    10: #001849,
    20: #002b75,
    25: #00358c,
    30: #003fa4,
    35: #004abc,
    40: #0054d6,
    50: #2e6ef5,
    60: #5e8bff,
    70: #8aa8ff,
    80: #b3c5ff,
    90: #dae1ff,
    95: #eef0ff,
    98: #faf8ff,
    99: #fefbff,
    100: #ffffff,
  ),
  secondary: (
    0: #000000,
    10: #001849,
    20: #162d63,
    25: #23396f,
    30: #30447b,
    35: #3c5088,
    40: #485c95,
    50: #6175af,
    60: #7b8fcb,
    70: #95a9e7,
    80: #b3c5ff,
    90: #dae1ff,
    95: #eef0ff,
    98: #faf8ff,
    99: #fefbff,
    100: #ffffff,
  ),
  tertiary: (
    0: #000000,
    10: #001849,
    20: #002b75,
    25: #00358c,
    30: #003fa4,
    35: #004abc,
    40: #0054d6,
    50: #2e6ef5,
    60: #5e8bff,
    70: #8aa8ff,
    80: #b3c5ff,
    90: #dae1ff,
    95: #eef0ff,
    98: #faf8ff,
    99: #fefbff,
    100: #ffffff,
  ),
  neutral: (
    0: #000000,
    10: #191b23,
    20: #2e3039,
    25: #393b44,
    30: #44464f,
    35: #50525b,
    40: #5c5e67,
    50: #757681,
    60: #8f909b,
    70: #a9aab5,
    80: #c5c6d1,
    90: #e1e2ed,
    95: #eff0fb,
    98: #faf8ff,
    99: #fefbff,
    100: #ffffff,
    4: #0c0e16,
    6: #11131b,
    12: #1d1f27,
    17: #272a32,
    22: #32343d,
    24: #373942,
    87: #d9d9e5,
    92: #e7e7f3,
    94: #ededf9,
    96: #f2f3fe,
  ),
  neutral-variant: (
    0: #000000,
    10: #171b28,
    20: #2c303d,
    25: #373b49,
    30: #424655,
    35: #4e5261,
    40: #5a5e6d,
    50: #737686,
    60: #8d90a0,
    70: #a7aabb,
    80: #c3c6d7,
    90: #dfe2f4,
    95: #eef0ff,
    98: #faf8ff,
    99: #fefbff,
    100: #ffffff,
  ),
  error: (
    0: #000000,
    10: #410006,
    20: #68000f,
    25: #7d0015,
    30: #92011a,
    35: #a31524,
    40: #b5242f,
    50: #d83e44,
    60: #fb585b,
    70: #ff8986,
    80: #ffb3b0,
    90: #ffdad8,
    95: #ffedeb,
    98: #fff8f7,
    99: #fffbff,
    100: #ffffff,
  ),
);

$_rest: (
  secondary: map.get($_palettes, secondary),
  neutral: map.get($_palettes, neutral),
  neutral-variant: map.get($_palettes,  neutral-variant),
  error: map.get($_palettes, error),
);

$primary-palette: map.merge(map.get($_palettes, primary), $_rest);
$tertiary-palette: map.merge(map.get($_palettes, tertiary), $_rest);
