@use 'sass:map';
@use '@angular/material' as mat;

$-paletas: (
  primary: (
    0: #000000,
    10: #370728,
    20: #511d3d,
    25: #5e2849,
    30: #6c3455,
    35: #793f61,
    40: #874b6d,
    50: #a36386,
    60: #c07ca1,
    70: #dd96bc,
    80: #fbb0d8,
    90: #ffd8ea,
    95: #ffecf3,
    98: #fff8f8,
    99: #fffbff,
    100: #ffffff,
  ),
  secondary: (
    0: #000000,
    10: #2b1421,
    20: #422936,
    25: #4e3441,
    30: #5a3f4d,
    35: #674a59,
    40: #735665,
    50: #8e6e7e,
    60: #a98798,
    70: #c5a1b2,
    80: #e2bcce,
    90: #ffd8ea,
    95: #ffecf3,
    98: #fff8f8,
    99: #fffbff,
    100: #ffffff,
  ),
  tertiary: (
    0: #000000,
    10: #3a0b00,
    20: #5e1700,
    25: #711e00,
    30: #852400,
    35: #992b00,
    40: #ae3200,
    50: #d44610,
    60: #f85e2a,
    70: #ff8b67,
    80: #ffb59e,
    90: #ffdbd0,
    95: #ffede8,
    98: #fff8f6,
    99: #fffbff,
    100: #ffffff,
  ),
  neutral: (
    0: #000000,
    10: #1e1b16,
    20: #34302a,
    25: #3f3b35,
    30: #4b4640,
    35: #57524b,
    40: #635e57,
    50: #7c766f,
    60: #969088,
    70: #b1aaa2,
    80: #cdc5bd,
    90: #e9e1d8,
    95: #f8efe6,
    98: #fff8f3,
    99: #fffbff,
    100: #ffffff,
    4: #110e09,
    6: #16130e,
    12: #231f1a,
    17: #2d2924,
    22: #38342e,
    24: #3d3933,
    87: #e1d9d0,
    92: #efe7de,
    94: #f5ece4,
    96: #fbf2e9,
  ),
  neutral-variant: (
    0: #000000,
    10: #23191e,
    20: #392d33,
    25: #44383e,
    30: #504349,
    35: #5c4f55,
    40: #695b61,
    50: #827379,
    60: #9d8c93,
    70: #b8a7ae,
    80: #d4c2c9,
    90: #f1dde5,
    95: #ffecf3,
    98: #fff8f8,
    99: #fffbff,
    100: #ffffff,
  ),
  error: (
    0: #000000,
    10: #40000e,
    20: #67001c,
    25: #7c0024,
    30: #91002b,
    35: #a50a34,
    40: #b61d3f,
    50: #d93956,
    60: #fc546d,
    70: #ff8793,
    80: #ffb2b7,
    90: #ffdadb,
    95: #ffeced,
    98: #fff8f7,
    99: #fffbff,
    100: #ffffff,
  ),
);

$-resto: (
  secondary: map.get($-paletas, secondary),
  neutral: map.get($-paletas, neutral),
  neutral-variant: map.get($-paletas,  neutral-variant),
  error: map.get($-paletas, error),
);

$paleta-primaria: map.merge(map.get($-paletas, primary), $-resto);
$paleta-terciaria: map.merge(map.get($-paletas, tertiary), $-resto);